
<div class="row">
	<div class="col-md-4 col-xs-4 ">
		<form action="/pages/q2_2" method="post">

			<div class="form-group">
				<label for="sel1">Статус по кредиту:</label>
				<select class="form-control" id="sel1" name="статус_по_кредиту" required>
					<option value="проблемный">проблемный</option>
					<option value="Не проблемный">не проблемный</option>
				</select>
			</div>

			<input type="hidden" name="anketa" value="2_1">
			<button type="submit" name="submit" class="btn btn-primary">Далее</button>
		</form>
	</div>
</div>
