<div class="row">
  <div class="col-md-4 col-xs-4 ">
  	<form action="" method="post">
  	  <!-- -->
	  <div class="form-group">
	    <label for="InputCity">Банк</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Банк" maxlength="30" 
	    name="банк" value="<?php echo @htmlspecialchars($_POST['банк']); ?>" required>
	  	<p><?php echo @$data['errors']['банк']; ?></p>
	  </div>
		
	  <div class="form-group">
	    <label for="InputCity">№ кредитного договара</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="№ кредитного договара" maxlength="30" 
	   name="номер_кредитного_договара" value="<?php echo @htmlspecialchars($_POST['номер_кредитного_договара']); ?>" required>
	  	<p><?php echo @$data['errors']['номер_кредитного_договара']; ?></p>
	  </div>
	  
	  <div class="form-group">
	    <label for="InputCity">Дата выдачи кредита</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Дата выдачи кредита" maxlength="30" 
	    name="дата_выдачи_кредита" value="<?php echo @htmlspecialchars($_POST['дата_выдачи_кредита']); ?>" required>
	  	<p><?php echo @$data['errors']['дата_выдачи_кредита']; ?></p>
	  </div>
	  
	  <div class="form-group">
	    <label for="InputCity">Дата закрытия кредита</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Дата закрытия кредита" maxlength="30" 
	    name="дата_закрытия_кредита" value="<?php echo @htmlspecialchars($_POST['дата_закрытия_кредита']);?>" required>
	  	<p><?php echo @$data['errors']['дата_закрытия_кредита']; ?>  </p>
	  </div>
		
	  <div class="form-group">
	    <label for="InputCity">Сумма выданого кредита</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Сумма выданого кредита" maxlength="30" 
	    name="сумма_выданного_кредита" value="<?php echo @htmlspecialchars($_POST['сумма_выданного_кредита']); ?>" required>
	  	<p><?php echo @$data['errors']['сумма_выданного_кредита']; ?></p>
	  </div>
		
 	   <div class="form-group">
	    <label for="InputCity">Процентная ставка</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Процентная ставка" maxlength="30" 
	   name="процентная_ставка" value="<?php echo @htmlspecialchars($_POST['процентная_ставка']); ?>" required>
	  	<p><?php echo @$data['errors']['процентная_ставка']; ?></p>
	  </div>

	  <div class="form-group">
	    <label for="InputCity">Ежемесячный платеж</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Ежемесячный платеж" maxlength="30" 
	   name="ежемесячный_платеж" value="<?php echo @htmlspecialchars($_POST['ежемесячный_платеж']); ?>" required>
	  	<p><?php echo @$data['errors']['ежемесячный_платеж']; ?></p>
	  </div>
		
	  <div class="form-group">
	    <label for="InputCity">Сумма остатка по кредиту</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Сумма остатка по кредиту" maxlength="30" 
	    name="cумма_остатка_по_кредиту" value="<?php echo @htmlspecialchars($_POST['cумма_остатка_по_кредиту']); ?>" required>
	  	 <p><?php echo @$data['errors']['cумма_остатка_по_кредиту']; ?></p>
	  </div>
 	  
 	  <div class="form-group">
	    <label for="InputCity">По телу кредита</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="По телу кредита" maxlength="30" 
	    name="по_телу_кредита" value="<?php echo @htmlspecialchars($_POST['по_телу_кредита']); ?>" required>
	    <p><?php echo @$data['errors']['по_телу_кредита']; ?></p>
	  </div>
      
      <div class="form-group">
	    <label for="InputCity">Проценты</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Проценты" maxlength="30" 
	    name="проценты" value="<?php echo @htmlspecialchars($_POST['проценты']); ?>" required>
	    <p><?php echo @$data['errors']['проценты']; ?></p>
	  </div>
 	  
 	  <div class="form-group">
	    <label for="InputCity">Пени и штрафы</label>
	    <input type="text" class="form-control" id="InputCity" placeholder="Пени и штрафы" maxlength="30" 
	    name="пени_и_штрафы" value="<?php echo @htmlspecialchars($_POST['пени_и_штрафы']); ?>" required>
	    <p><?php echo @$data['errors']['пени_и_штрафы']; ?></p>
	  
	  </div>
 

   	 <input type="hidden" name="anketa" value="3_1">
	 <button type="submit" name="submit" class="btn btn-primary">Далее</button>
 </form>
  </div>
 </div>
