<h2> Стадия взыскания: </h2>

<form action="" method="post" >
    
    
        <label><input type="radio" name="radio" value="не_судебное" checked="checked" ><b>Взыскание в несудебное/до судебное</b></label>
                <br>
                
        <label><input type="radio" name="radio" value="судебное"><b>Взыскание судебное</b></label>
                <br>
               
        <label><input type="radio" name="radio" value="после_судебное"><b>Взыскание послесудебное(ГИС)</b></label>
                <br>
    <input type="hidden" name="anketa" value="5_2">
    <input type="submit" name="submit" value="Ок">
</form>