<script type="text/javascript">
  function showOrHide(cb, cat) {
    cb = document.getElementById(cb);
    cat = document.getElementById(cat);
    if (cb.checked) cat.style.display = "block";
    else cat.style.display = "none";
  }
</script>

Наличие другого имущества (можно выбрать несколько вариантов)
<form action="/pages/q7_1" method="post">
<div>
  <input type = 'checkbox' id = 'cb1' onchange = 'showOrHide("cb1", "cat1");'/>Недвижимость
  <br />
  <div id = 'cat1' style = 'display: none;'>
  		Заложена?
  		<input type="radio" name="недв_залож" value="да"/>Да
  		<input type="radio" name="недв_залож" value="нет"/>Нет<br>
  </div>
  <input type = 'checkbox' id = 'cb2' onchange = 'showOrHide("cb2", "cat2");' />Автомобиль
  <br />
  <div id = 'cat2' style = 'display: none;'>
  		Заложен?
  		<input type="radio" name="авто_залож" value="да"/>Да
  		<input type="radio" name="авто_залож" value="нет"/>Нет<br>
  </div>
  <input type = 'checkbox' id = 'cb3' onchange = 'showOrHide("cb3", "cat3");' />Другое
  <br />
  <div id = 'cat3' style = 'display: none;'>
  	Заложено?
  	<input type="radio" name="другое_залож" value="да"/>Да
  	<input type="radio" name="другое_залож" value="нет"/>Нет<br>
  </div>
</div>
<input type="hidden" name="anketa" value="6_6">	
<input type="submit" name="submit" value="Ок">
</form>